body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

#map {
    width: 100%;
    height: 400px;
}


a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.header-page {
    background-image: url('../img/cafeteria.png');
    background-size: fill;
    background-position: center;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 40px 20px;
    text-align: center;
}

.header-page h1 {
    margin-bottom: 10px;
    color: #fff !important;
}

.header-page p {
    color: white;
}

section {
    margin: 40px 0;
}

.explore-section h2,
.explore-section h3 {
    color: #34495e;
    margin-bottom: 20px;
    font-size: 2rem;
}

p {
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #666;
}

.section-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: transform 0.2s ease;
    background-color: #ecf0f1;
    gap: 20px;
}


.cafeteria-info {
    display: flex;
    align-items: center;
    max-width: 80%;
    gap: 20px;
    text-align: left;
}


.section-content h4 {
    flex: 1 1 100px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

.section-content p {
    flex: 1 1 300px;
    color: #555;
    text-align: center;
}

.more-info {
    flex: 1 1 50px;
    display: flex;
    justify-content: center;
    background-color: var(--vibrant-teal);
    color: white;
    padding: 10px;
    border-radius: 0 8px 8px 0;
    border: 2px solid #009073;
    transition: background-color 0.5s ease-out, color 0.3s ease, border 0.1s ease;
}

.more-info:hover {
    border: 2px solid #009073;
    background-color: transparent !important;
    color: var(--vibrant-teal) !important;
    -webkit-box-shadow: 0px 0px 35px -3px rgba(0, 144, 115, 0.47);
    -moz-box-shadow: 0px 0px 35px -3px rgba(0, 144, 115, 0.47);
    box-shadow: 0px 0px 35px -3px rgba(0, 144, 115, 0.47);
}

.arrow {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.arrow i {
    margin-left: 8px;
}

.section-content:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

hr {
    border: 0;
    height: 1px;
    background-color: #dfe6e9;
    margin: 40px 0;
}