/* Base CSS for the website */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS Variables */
:root {
    --dark-navy: #0e131fff;
    --deep-slate: #38405fff;
    --vibrant-teal: #009073;
    --sky-blue: #007EF4;
    --soft-sage: #c5d8d1ff;
    --warm-ivory: #f4edeaff;
}

/* Fonts */
@font-face {
    font-family: 'Moodisst';
    src: url('../fonts/Moodisst.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype'),
        url('../fonts/BebasNeue-Regular.woff') format('woff'),
        url('../fonts/BebasNeue-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 18px;
    background-color: white;
}

main {
    flex: 1;
    margin: 30px 0 100px 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

my-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Headings */

h1 {
    font-family: 'Bebas Neue' !important;
    font-size: 3rem !important;
    font-weight: bold !important;
    color: var(--dark-navy) !important;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-family: 'Bebas Neue' !important;
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: var(--deep-slate) !important;
    margin: 20px 0;
}

h3 {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    color: var(--deep-slate) !important;
    margin: 20px 0;
}

h4 {
    font-size: 1.25rem !important;
    font-weight: 500 !important;
    color: var(--deep-slate) !important;
    margin: 20px 0;
}

h5 {
    font-family: 'Bebas Neue' !important;
    font-size: 1.25rem !important;
    font-weight: 500 !important;
    color: var(--deep-slate) !important;
}

a {
    color: var(--vibrant-teal);
}

/* Buttons */
.btn-outline {
    border: 2px solid #009073;
}

.btn-outline:hover {
    background-color: var(--vibrant-teal);
    color: var(--warm-ivory);
}


.btn-primary {
    background-color: var(--vibrant-teal);
    border: 2px solid #009073;
    transition: background-color 0.5s ease-out, color 0.3s ease, border 0.1s ease;
}

.btn-primary:hover, .btn-primary.selected {
    border: 2px solid #009073;
    background-color: transparent !important;
    color: var(--vibrant-teal) !important;
    -webkit-box-shadow: 0px 0px 35px -3px rgba(0, 144, 115, 0.47);
    -moz-box-shadow: 0px 0px 35px -3px rgba(0, 144, 115, 0.47);
    box-shadow: 0px 0px 35px -3px rgba(0, 144, 115, 0.47);
}

/* Text */
.text-container {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* Cards */
.card {
    border-radius: 15px;
    background-color: var(--deep-slate);
    overflow: hidden;
}

.card .card-title,
.card p {
    color: var(--warm-ivory) !important;
}

.card img {
    border-top: 14px;
    height: 200px;
    object-fit: cover;
}

/* Maps */

.map {
    border-radius: 20px;
}

.custom-icon {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    font-size: 30px;
}

/* Carousel */
.carousel {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner img {
    border-radius: 15px;
    height: 500px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--vibrant-teal);
    border-radius: 50%;
    background-size: 50%;
    width: 60px;
    height: 60px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: var(--deep-slate);
    transform: scale(1.1);
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

/* Video */
.video-container {
    border-radius: 5px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

.video-container video {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.video-bottom {
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    z-index: 1000;
    left: 10%;
    bottom: 7%;
    width: 80%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease;
}

.left-btns {
    display: flex;
    gap: 7.5px;
    justify-content: start;
    align-items: center;
    margin-bottom: 5px;

}

.right-btns {
    display: flex;
    gap: 7.5px;
    justify-content: end;
    align-items: center;
    margin-bottom: 5px;

}

.video-container:hover .video-bottom {
    opacity: 1;

}

.control-btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    width: 100%;
}

.control-btn {
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    aspect-ratio: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.control-btn:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.on-play {
    border: 5px solid green; 
}

.on-pause {
    border: 5px solid red; 
}

.play-pause-btn {
    transition: background-image 0.3s ease;
}

.play-btn {
    background-image: url('../img/video-icons/bx-play.png');
}

.pause-btn {
    background-image: url('../img/video-icons/bx-pause.png');
}

.stop-btn {
    background-image: url('../img/video-icons/bx-stop.png');
}

.forward-btn {
    background-image: url('../img/video-icons/forward.png');
    width: 1.4rem;
    height: 1.4rem;
}

.fullscreen-btn {
    background-image: url('../img/video-icons/bx-fullscreen.png');
    width: 1.3rem;
    height: 1.3rem;
}

.volume-btn {
    background-image: url('../img/video-icons/bxs-volume.png');
    transition: background-image 0.3s ease;
    width: 1.3rem;
    height: 1.3rem;
}

.time {
    font-size: 1rem;
    margin: 0;
    color: #ffffff;
}

.muted {
    background-image: url('../img/video-icons/bxs-volume-mute.png') !important;
}

.volume-control {
    opacity: 0;
    width: 0px;
    transition: all 0.3s ease;
}

.control-volume-container:hover .volume-control {
    width: 100px;
    opacity: 1;
}

.control-volume-container {
    display: flex;
    align-items: center;
    gap: 3px;
}


@media (max-width: 768px) {
    .navbar-collapse {
        margin: 10px 15px;
    }

    .carousel-inner img {
        height: 300px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 15%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 40px !important;
        height: 40px !important;
    }


    .iframe {
        margin-left: -4%;
    }
}