body {
    background-color: #f4f4f9;
    color: #333;
}

.hero {
    background-image: url('../img/paella.png');
    background-size: cover;
    background-position: center;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 40px 20px;
    text-align: center;
}

.hero h1 {
    margin-bottom: 10px;
    color: #fff !important;
}

.hero p {
    color: white;
}

.food-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.food-item {
    margin-bottom: 50px;
}

.food-item .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.food-item h4 {
    font-size: 1.5rem;
    color: var(--dark-navy);
    margin-top: 15px;
    font-family: 'Bebas Neue', sans-serif;
}

.food-item p {
    color: var(--deep-slate);
    font-size: 1rem;
    margin-bottom: 15px;
}

.section-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    color: var(--dark-navy);
    margin-bottom: 40px;
}