.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
    padding: 20px;
    background-color: white; 
}

.contact-form {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    max-width: 1000px;
    width: 100%;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: #d2d2d24d; 
    outline-color: var(--deep-slate);
    transition: background-color 0.3s ease-in-out, border 0.3s ease;

}
.contact-form textarea {
    height: 120px;
    resize: none;
}
