#carouselHome {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 500px;
    overflow: hidden;
}

#carouselHome .carousel-inner {
    max-height: 500px;
}

#carouselHome img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}


.buttons-flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.buttons-flex button {
    flex: 1;
}

.card {
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin-top: 50px;
    font-size: 4rem !important;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width: 768px) {
    #carouselHome {
        margin-top: 10px;
        margin-bottom: 10px;
        max-height: 200px;
    }

    .buttons-flex {
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
    }

    .buttons-flex button {
        flex: 1;
        max-width: 120px;
    }
}


/* jukebox */
.jukebox {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    background: var(--deep-slate);
    padding: 40px;
    border-radius: 10px;
    color: white;
    gap: 20px;
}

.jukebox-content {
    flex: 1;
}

.cover-container {
    display: flex;
    justify-content: center;
    flex: 1;
    height: auto;
    margin: 20px auto;
    min-width: 300px;
}


.cover {
    margin: auto;
    border-radius: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}

.cover-rotate {
    animation: rotate 10s linear infinite;
}

.info {
    margin-top: 20px;
    font-size: 16px;
}

.playlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.playlist li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.playlist button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.playlist-cover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.song-title {
    font-size: 16px;
    color: #ffffff;
    
    text-transform: capitalize;
    font-family: 'Bebas Neue';
}
.playlist button.active {
    background: #ff5733 !important; 
    color: white !important;
    
    border-color: #009073 !important;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

